/*
* * * * * * * * * * * * * * * * * * *
* BASE
* * * * * * * * * * * * * * * * * * *
*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	@include source-sans();
	font-size: 62.5%;
	color: $off-black;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	@include clearfix();
	@include font-size(1.6);
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: $white;
}

.site-wrapper {
}

h1, h2, h3, h4 {
	line-height: 1.2em;
	margin: 0 0 15px 0;
	font-weight: 700;
}

h1 {
	@include font-size(3.6);
	color: $off-black;
}

h2 {
	@include font-size(2.4);
	color: $off-black;
}

h3 {
	@include font-size(2);
	@include uppercase();
	color: $off-black;
}

h4 {
	@include font-size(1.6);
	@include uppercase();
	color: $mid-grey;
}

p,
.site-wrapper ul,
.post-content ul,
.post-content ol {
	@include font-size(2);
	font-weight: 400;
	line-height: 1.6em;
	margin: 0 0 1em 0;

	&.note { color: $mid-grey; }

	a {
		color: $cyan;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

blockquote {
	font-style: italic;
	margin: 0 0 25px 0;
	border-left: 1px solid $light-grey;
	background: tint($pale-blue, 30);
	padding: 15px;

	p {
		@include font-size(2.4);
		line-height: 1.4em;

		&:last-child { margin-bottom: 0; }
	}
}


img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.rule, {
	width: 100%;
	float: left;
	height: 1px;
	display: block;
	margin: 20px 0;
}

hr {
	width: 100%;
	border: none;
	border-top: 1px solid $light-grey;
	margin: 30px 0;
}

::selection { background: tint($cyan, 10); }