/*
 * * * * * * * * * * * * * * * * * * *
 * COLORS
 * * * * * * * * * * * * * * * * * * *
 */

$blue: #06668e;
$pale-blue: #d5e0e3;
$orange: #f15b40;

// Other nice colors :)
$red: #ed1c24;
$yellow: #ffcc00;
$forest-green: #666600;
$green: #51b848;
$cyan: #00ccff;
$dark-cyan: darken($cyan, 10%);
$midnight: #002B38;
$indigo: #2a1e5c;
$purple: #66439a;

$black: #000;
$off-black: #111;
$dark-grey: #666;
$mid-grey: #aaa;
$light-grey: #ccc;
$off-white: #eee;
$white: #fff;

$tan: #F2F1E6;
$dark-tan: #C6C7C0;
